* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  height: 100vh;
}

header {
  background-color: #164e63;
}

h1 {
  margin: auto;
  padding: 1rem;
  width: max-content;
  color: #ecfeff;
}

/* Main Content */
.main {
    /* width: 100%;
    height: fit-content; */
}

.form-popup {
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 300px; */
  position: absolute;

}

/* Add book button */
.btn {
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: whitesmoke;
  border-radius: 10px;
}

.addBookBtn {
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.98);
}

/* Add book section */
/* .form-popup {
    border-color: none;
} */

.my-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  background-color: wheat;
  height: fit-content;
  border-radius: 10px;
  padding: 1rem;
}

.form-popup .close-form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.my-form > label {
  display: flex;
  flex-direction: column;
  align-items: left;
}

input {
  border: none;
  outline: none;
  background-color: #155e75;
  border-radius: 3px;
  font-size: small;
  padding: 5px;
  margin-top: 5px;
  color: whitesmoke;
}

#readCheckbox {
  margin-left: 20px;
  flex-direction: row;
  align-content: center;
  gap: 20px;
}

#mark {
  border: none;
  outline: none;
  width: 2rem;
  height: 1rem;
  margin: 0;
}

.form-submit {
  font-size: larger;
}

/* footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #000000;
}
