@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

header {
  background-color: #164e63;
}

h1 {
  margin: auto;
  padding: 1rem;
  width: max-content;
  color: #ecfeff;
}

/* Add book button */
.form-open {
  display: flex;
  justify-content: center;
}

.addBookBtn {
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.btn {
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: whitesmoke;
  border-radius: 10px;
}

.btn:hover {
  transform: scale(0.98);
}

/* form input popup */
.form-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  width: 300px;
  background-color: #f5deb3;
  height: fit-content;
  border-radius: 10px;
  padding: 1rem;
}

.form-popup.active {
  transform: translate(-50%, -50%) scale(1);
}

#popup-background {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#popup-background.active {
  opacity: 1;
  pointer-events: all;
}

.my-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-popup .close-form {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  outline: 0;
  background-color: inherit;
}

.my-form > label {
  display: flex;
  flex-direction: column;
  align-items: left;
}

input {
  border: none;
  outline: none;
  background-color: #155e75;
  border-radius: 3px;
  font-size: small;
  padding: 5px;
  margin-top: 5px;
  color: #f5f5f5;
}

#readCheckbox {
  margin-left: 20px;
  flex-direction: row;
  align-content: center;
  gap: 20px;
}

#mark {
  border: none;
  outline: none;
  width: 2rem;
  height: 1rem;
  margin: 0;
}

.form-submit {
  font-size: larger;
}

/* card section */
.card-section {
  width: 100vw;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 250px;
  padding: 1rem;
  border-radius: 20px;
  font-size: larger;
  background-color: #f5deb3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card-remove-btn {
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 5px;
  font-size: 1rem;
  width: 100%;
}

.card-remove-btn:hover {
  transform: scale(0.98);
}

/* footer */
footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}
